/*Small Devices*/

@media (min-width:375px) and ( max-width:500px){
   
    .mega-menu .content{
        grid-template-columns: 1fr;
        height: 200vh;
        justify-content: center;
        text-align: center;
    }
    .blog .content{
        height: 230vh;
    }
    .section{
        position: relative;
    }
    
    .section h1{
       font-size: 3rem;
       letter-spacing: 5px;
       line-height: 18vw; 
    }
    .main{
        top:0;
    }
    .galeria{
        top:40px;
    }
    .galeria .container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 15px;
        margin-bottom: 55px;
    }
    
    .content .col .img-wrapper {
        display: block;
        position: relative;
        width: 100%;
        height: 40vh;
        overflow: hidden;
      }
    footer{
        height: 12vh;
        top: 0;
    }
    footer p{
        padding: 35px;
    }
}

@media(min-width:501px) and (max-width:920px){
    .mega-menu .content{
        grid-template-columns: 1fr;
        height: 200vh;
        justify-content: center;
        text-align: center;
    }
    .blog .content{
        height: 230vh;
    }
    .section{
        position: relative;
    }
    
    .section h1{
       font-size: 3.5rem;
       letter-spacing: 5px;
       line-height: 15vw; 
    }
    .main{
        top:0;
    }
    .galeria{
        top:40px;
    }
    .galeria .container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 15px;
        margin-bottom: 55px;
    }
    .content .col .img-wrapper {
        display: block;
        position: relative;
        width: 100%;
        height: 40vh;
        overflow: hidden;
      }
    footer{
        height: 12vh;
        top: 0;
    }
    footer p{
        padding: 30px;
    }

}
@media(min-width:921px) and (max-width:1500px){
    .section h1{
        font-size: 4rem;
        letter-spacing: 5px;
        line-height: 10vw; 
     }
     .main{
        margin-top: 115px;
     }
     
     footer{
        height: 12vh;
        
    }
    footer p{
        padding: 30px;
    }
}
@media (min-width:1300px) and (max-height:1920px){
    .section h1{
        font-size: 5rem;
    }
    .main{
        margin-top: 140px;
     }
     footer{
        height: 12vh;
    }
    footer p{
        padding: 50px;
    }
     
}
@media(max-height:1040px){
    
    .main{
        margin-top: 280px;
     }
}




























/*@media(min-width:768px) and (max-width:1200px){
    .mega-menu .content{
        grid-template-columns: 1fr;
        height: 200vh;
        justify-content: center;
        text-align: center;
    }
    .blog .content{
        height: 230vh;
    }
    .section h1{
        font-size: 4rem;
        letter-spacing: 5px;
        line-height: 15vw; 
     }
     .main{
        top: 700px;
     }
     footer{
        height: 12vh;
        top:700px;
    }
    footer p{
        padding: 35px;
    }
   

}




