@import url('https://fonts.googleapis.com/css2?family=Mingzat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Mingzat', sans-serif;
}
body{
    background:#c4cad0;
}
.header{
width: 100%;
min-height: 100vh;
background: url("images/f1.jpg");
background-size: cover;
display: flex;
justify-content:space-between;
}
.header h1{
    font-family: 'Hepta Slab', serif;
    font-size: 5rem;
    font-weight: 300;
    padding: 40px;
    color:gainsboro;
    position: absolute;
    top: 200px;
}
 nav{
    width: 100%;
    height: 10vh;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content:end;
 }
 nav li{
    margin: 80px 40px 20px 15px;
    padding: 15px;
         
}
 nav a{
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 1.5rem;
    font-family: 'Hepta Slab', serif;

 }
  nav a:hover{
    color:black;
    transition: 0.5s ease-in;
    border-bottom: 1px solid black;
   

  }
.main h3{
    font-size: 20px;
    margin: 35px 50px 35px 50px;
    text-align:justify;
}
.galeria .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    margin: 15px;
}
.galeria img{
    width:100%;
    height:500px;
    object-fit: cover;
    
}
.item1{
    grid-column: 1/4;
    
}
.item5{
    grid-column: 1/3;
}
.item11{
    grid-column: 2/4;
}
.item12{
    grid-column: 1/4;
}
footer {
    width: 100%;
    height: 10vh;
    background: black;
    color: white;
}
footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}