@import url('https://fonts.googleapis.com/css2?family=Mingzat&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Mingzat', sans-serif;
}
body{
    background:#dbd5b5;
}
.header{
width: 100%;
min-height: 100vh;
background: url("images/f1.jpg");
background-size: cover;
}
.main h3{
    font-size: 20px;
    margin: 35px 50px 35px 50px;
    text-align:justify;
}
.galeria .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    margin: 15px;
}
.galeria img{
    width:100%;
    height:500px;
    object-fit: cover;
    
}
.item1{
    grid-column: 1/4;
    
}
.item5{
    grid-column: 1/3;
}
.item12{
    grid-column: 1/4;
}